body {
  margin: 0;
  font-family: Georgia, serif;
  background: url('foodbg.avif') no-repeat center/cover;
  color: #222;
}

header {
  background: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 20px;
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: auto;
  color: black;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.7);
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}
.grid p {
  text-align: justify;
  font-family: serif;
  font-style: italic;
  font-size: small;
  color: #222;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
  height: 40%;
  border-radius: 0%;
}

footer {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  text-align: center;
  padding: 10px;
  font-style: italic;
}
